<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">


	<xacro:macro name="box_inertia_def" params="h w d mass">
	<inertia ixx="${mass * (w*w+d*d)/ 12}"
			 iyy="${mass * (h*h+d*d)/ 12}"
			 izz="${mass * (h*h+w*w) / 12}"
			 ixy="0" iyz="0" ixz="0"/>
	</xacro:macro>




	<link name="box">
		<inertial>
				<mass value="5.0"/>
				<origin xyz="0 0 0.005"/>
				<xacro:box_inertia_def h="0.01" w="0.12" d="0.05" mass="5.0" /> 

		</inertial>
	
		<visual>
			<origin xyz="0.0 0.0 0.025" rpy="0 0 0"/>
			
			 <geometry>
		      <box size="0.01  0.12  0.05"/>
		      
			</geometry>
		</visual>


		<collision>
			<origin xyz="0.0 0.0 0.025" rpy="0 0 0"/>
			
			<geometry>
				 <box size="0.01  0.12  0.05"/> -->
				
			</geometry>
		</collision>


	</link>

      <gazebo reference="box">
      	<material>Gazebo/Blue</material>
           <selfCollide>true</selfCollide>
           <maxContacts>100</maxContacts>
		  <gravity>true</gravity> 
	    <mu1>0.5</mu1>
	     <mu2>0.5</mu2> 
	   
	        <fdir1>0 0 0</fdir1>
         <maxVel>0.0</maxVel>

		<kp>1000000000.0</kp>
	  <kd>10000.0</kd>
	  <minDepth>0.00</minDepth>
		 
	  </gazebo> 

</robot>
