<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cylinder">

	<xacro:macro name="cylinder_inertia_def" params="radius length mass">
	<inertia ixx="${mass * (3 * radius * radius + length * length) / 12}"
			 iyy="${mass * (3 * radius * radius + length * length) / 12}"
			 izz="${mass * radius* radius / 2}"
			 ixy="0" iyz="0" ixz="0"/>
	</xacro:macro>

	<link name="object_link" type="fixed">
	    <material>Gazebo/Blue</material>
		<inertial>


				<mass value="4.0"/>
				<!--<origin xyz="0 0 0.005"/>
				<xacro:cylinder_inertia_def radius="0.035" length="0.015" mass="5.0" />-->
				<origin xyz="0 0 0.15" rpy="0 0 0"/>
				<xacro:cylinder_inertia_def radius="0.03" length="0.30" mass="4.0" />
				
		</inertial>
		<visual>
			<origin xyz="0 0 0.15" rpy="0 0 0"/>
 		       
			<geometry>
			      
				<cylinder length="0.30" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.15" rpy="0 0 0"/>
			
			<geometry>
				<cylinder length="0.30" radius="0.03"/>
			       
			</geometry>
		</collision>
	</link>

	<gazebo reference="object_link"> 
	    <material>Gazebo/Blue</material>
		  <selfCollide>true</selfCollide> 
		 <maxContacts>100</maxContacts>
	     <!-- <provideFeedback>true</provideFeedback>  -->
	     <gravity>true</gravity>
	     
		<!-- <mu1>0.6</mu1>
	     <mu2>0.6</mu2> 
	    -->  
	    <mu1>0.6</mu1>
	     <mu2>0.6</mu2> 
	   
	        <fdir1>1 0 0</fdir1>
         <maxVel>1.0</maxVel>

		<kp>1000000000000.0</kp>
	  <kd>100000.0</kd>
	  <minDepth>0.00</minDepth>
	 </gazebo>

</robot>
