<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sphere">
	<link name="sphere">
		<inertial>
			<mass value="10.0"/>
			<!-- cylindrical shell : Izz=m*r^2; Ixx=Iyy=1/12*m*(6*r^2+h^2) -->
			<!-- solid cylinder : Izz=(m*r^2)/2; Ixx=Iyy=1/12*m*(3*r^2+h^2) -->
			<!-- <inertia  ixx="0.002385" ixy="0.00"  ixz="0.00" iyy="0.002385" iyz="0.00" izz="0.00027" />-->
			<inertia  ixx="20" ixy="0.00"  ixz="0.00" iyy="20" iyz="0.00" izz="20" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<sphere radius="0.05"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<sphere radius="0.05"/>
			</geometry>
		</collision>
	</link>

      <gazebo reference="sphere">
      	<material>Gazebo/Blue</material>
           <selfCollide>true</selfCollide>
		  <gravity>true</gravity> 
		  <mu1>1.0</mu1>
		  <mu2>1.0</mu2> 
		  <kp>10000000.0</kp> 
	       <kd>1.0</kd>
		 
	  </gazebo> 

</robot>