<launch>
<!-- Spawn a robot into Gazebo -->
    <param name="pot_description" command="$(find xacro)/xacro.py $(find grasp_estimator)/model/pot.urdf.xacro" />

   <node name="pot_spawner" pkg="gazebo_ros" type="spawn_model" args="-param pot_description -urdf -model pot -x -0.97 -y -0.28 -z 1.27 -R 0 -P 0 -Y 0" respawn="false" output="screen"/> 

</launch>